1. Para realizar lo solicitado debes crear la base de datos classicmodels en tu motor
PostgreSQL. Para esto, abre una ventana de terminal y ejecuta la siguiente
instrucción:
psql -h localhost -p 5432 -U postgres -c "CREATE DATABASE classicmodels;"
2. Una vez creada la base de datos, debes importar el archivo classicmodels.sql a esta
base de datos.
Se utiliza psql -h localhost -p 5432 -U postgres -d classicmodels -f "C:\Users\FernandoSanchez\Downloads\classicmodels.sql"
para importar lo indicado

El área comercial de una empresa pide realizar un cierre de año de las ventas, tanto para
revisar si las metas fueron cumplidas, como para poder planificar el siguiente año. Para ello,
considerarán los datos del dataset classicmodels.sql para responder algunas preguntas,
realizando las siguientes tareas.
1. Genera una función llamada leer_tabla(tabla, engine) y utilízala para leer tablas
completas desde la base de datos en dataframes independientes. Utilizando esta
función, importa las siguientes tablas:
- order
- orderdetails
- customers
- products
- employees

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Función para leer una tabla desde la base de datos y retornar un DataFrame
def leer_tabla(tabla, engine):
    query = f"SELECT * FROM {tabla};" #FernandoSanchez
    return pd.read_sql(query, engine)

# Conectarse a la base de datos classicmodels.sql (asegúrate de ajustar la cadena de conexión)
engine = create_engine('postgresql://postgres:Pancho2209@localhost:5432/classicmodels')#FernandoSanchez

# Importar las tablas
orders_df = leer_tabla('orders', engine)
orderdetails_df = leer_tabla('orderdetails', engine)#FernandoSanchez
customers_df = leer_tabla('customers', engine)
products_df = leer_tabla('products', engine)
employees_df = leer_tabla('employees', engine)

2. Realiza el cruce entre los DataFrames, asegurándote de utilizar correctamente el
parámetro validate para asegurar la integridad referencial.

In [3]:
# Realizar el cruce entre DataFrames usando la columna 'orderNumber' como clave primaria/foránea
merged_df = orders_df.merge(orderdetails_df, on='orderNumber', validate='one_to_many') \
                    .merge(customers_df, on='customerNumber', validate='many_to_one') \
                    .merge(products_df, left_on='productCode', right_on='productCode', validate='many_to_one') \
                    .merge(employees_df, left_on='salesRepEmployeeNumber', right_on='employeeNumber', validate='many_to_one')#FernandoSanchez

# Mostrar las primeras filas del DataFrame resultante
print(merged_df.head())

   orderNumber   orderDate requiredDate shippedDate   status comments
0        10100  2003-01-06   2003-01-13  2003-01-10  Shipped     None  \
1        10100  2003-01-06   2003-01-13  2003-01-10  Shipped     None
2        10100  2003-01-06   2003-01-13  2003-01-10  Shipped     None
3        10100  2003-01-06   2003-01-13  2003-01-10  Shipped     None
4        10192  2003-11-20   2003-11-29  2003-11-25  Shipped     None

   customerNumber productCode  quantityOrdered  priceEach  ...  buyPrice
0             363    S18_1749               30     136.00  ...     86.70  \
1             363    S18_2248               50      55.09  ...     33.30
2             363    S18_4409               22      75.46  ...     43.26
3             363    S24_3969               49      35.29  ...     21.75
4             363    S12_4675               27      99.04  ...     58.73

     MSRP employeeNumber   lastName firstName extension
0  170.00           1216  Patterson     Steve     x4334  \
1   60.54           1216  Patterson     Steve     x4334
2   92.03           1216  Patterson     Steve     x4334
3   41.03           1216  Patterson     Steve     x4334
4  115.16           1216  Patterson     Steve     x4334

                             email officeCode reportsTo   jobTitle
0  spatterson@classicmodelcars.com          2    1143.0  Sales Rep
1  spatterson@classicmodelcars.com          2    1143.0  Sales Rep
2  spatterson@classicmodelcars.com          2    1143.0  Sales Rep
3  spatterson@classicmodelcars.com          2    1143.0  Sales Rep
4  spatterson@classicmodelcars.com          2    1143.0  Sales Rep

[5 rows x 39 columns]

3. Agrega las siguientes columnas, considerando su nombre y la fórmula asociada
- venta: quantityOrdered*priceEach
- costo: quantityOrdered*buyPrice
- ganancia: considerando las columnas anteriores

In [4]:
# Agregar las columnas venta, costo y ganancia al DataFrame
merged_df['venta'] = merged_df['quantityOrdered'] * merged_df['priceEach']#FernandoSanchez
merged_df['costo'] = merged_df['quantityOrdered'] * merged_df['buyPrice']
merged_df['ganancia'] = merged_df['venta'] - merged_df['costo']

# Mostrar las primeras filas del DataFrame actualizado
print(merged_df.head())

   orderNumber   orderDate requiredDate shippedDate   status comments
0        10100  2003-01-06   2003-01-13  2003-01-10  Shipped     None  \
1        10100  2003-01-06   2003-01-13  2003-01-10  Shipped     None
2        10100  2003-01-06   2003-01-13  2003-01-10  Shipped     None
3        10100  2003-01-06   2003-01-13  2003-01-10  Shipped     None
4        10192  2003-11-20   2003-11-29  2003-11-25  Shipped     None

   customerNumber productCode  quantityOrdered  priceEach  ...   lastName
0             363    S18_1749               30     136.00  ...  Patterson  \
1             363    S18_2248               50      55.09  ...  Patterson
2             363    S18_4409               22      75.46  ...  Patterson
3             363    S24_3969               49      35.29  ...  Patterson
4             363    S12_4675               27      99.04  ...  Patterson

  firstName extension                            email officeCode reportsTo
0     Steve     x4334  spatterson@classicmodelcars.com          2    1143.0  \
1     Steve     x4334  spatterson@classicmodelcars.com          2    1143.0
2     Steve     x4334  spatterson@classicmodelcars.com          2    1143.0
3     Steve     x4334  spatterson@classicmodelcars.com          2    1143.0
4     Steve     x4334  spatterson@classicmodelcars.com          2    1143.0

    jobTitle    venta    costo ganancia
0  Sales Rep  4080.00  2601.00  1479.00
1  Sales Rep  2754.50  1665.00  1089.50
2  Sales Rep  1660.12   951.72   708.40
3  Sales Rep  1729.21  1065.75   663.46
4  Sales Rep  2674.08  1585.71  1088.37

[5 rows x 42 columns]

4. ¿Cuál fue el total de ventas por línea de productos? Incluye una fila de totales.

In [5]:
# Agrupar por la columna 'productLine' y sumar las ventas
ventas_por_linea = merged_df.groupby('productLine')['venta'].sum().reset_index() #FernandoSanchez reseteamos el indice para que en el valor guardado inicie de 0

# Agregar una fila de totales al final
totales = pd.DataFrame({'productLine': ['Total'], 'venta': [ventas_por_linea['venta'].sum()]}) #FernandoSanchez
ventas_por_linea = pd.concat([ventas_por_linea, totales]) #FernandoSanchez

print(ventas_por_linea)

        productLine       venta
0      Classic Cars  3853922.49
1       Motorcycles  1121426.12
2            Planes   954637.54
3             Ships   663998.34
4            Trains   188532.92
5  Trucks and Buses  1024113.57
6      Vintage Cars  1797559.63
0             Total  9604190.61

5. ¿Cuántos clientes distintos hicieron compras?

In [6]:
# Contar clientes distintos que hicieron compras
clientes_distintos = merged_df['customerNumber'].nunique() #FernandoSanchez con nunique devolvemos el cuantos valores estan 

print(f"Número de clientes que hicieron compras: {clientes_distintos}")

Número de clientes que hicieron compras: 98

6. ¿Existen clientes que aún no han hecho ninguna compra? ¿Cuántos son?

In [7]:
# Obtener la lista de todos los clientes
todos_los_clientes = customers_df['customerNumber']

# Obtener la lista de clientes que han hecho compras
clientes_que_compraron = merged_df['customerNumber'].unique() #FernandoSanchez con unique devolvemos que valores unicos estan 

# Identificar clientes que aún no han hecho ninguna compra
clientes_sin_compras = todos_los_clientes[~todos_los_clientes.isin(clientes_que_compraron)] #FernandoSanchez con isin verificamos que valores de todos no estan en los que compran, con ~ negamos la condicion dando False a los que si compraron y True a los que no
cantidad_clientes_sin_compras = len(clientes_sin_compras)

print(f"Número de clientes que aún no han hecho ninguna compra: {cantidad_clientes_sin_compras}")

Número de clientes que aún no han hecho ninguna compra: 24

7. Se solicita la creación de dos reportes, que respondan las preguntas dadas
● ¿Cuáles fueron los 10 clientes que reportan mayores ventas brutas en dinero durante
el año 2005? Genera un DataFrame y guárdalo en una tabla de Postgre llamada
top_10_clientes_2005, en la que se especifique el nombre del cliente y su
correspondiente venta, costo y ganancia.
● ¿Cuál fue el top 10 de artículos más vendidos durante el año 2005 (considerando
cantidad neta)? Genera un DataFrame y guárdalo en una tabla de Postgre llamada
top_10_productos_2005, en la que se especifique el nombre del producto y su
correspondiente venta, costo y ganancia.
Para este punto debes aplicar el principio DRY, por lo que se deben utilizar funciones para
realizar el filtrado por fechas, generar tablas pivote y escribir tabla en Postgre. Las funciones
deben estar en un archivo separado llamado funciones.py y ser importadas al Jupyter
Notebook. En este archivo se debe incluir:
● Una función que permita filtrar un DataFrame por fechas, indicando dataframe,
columna para filtrar, fecha inicio y fecha fin. La función debe retornar un DataFrame.
● Una función que permita generar reportes dependiendo de parámetros de entrada
como dataframe, filas, columnas, valores y medida (funcion_agrupadora). Utilizar
fill_value = 0. Esta función debe retornar un DataFrame pivotado.
● Una función que permita escribir en la base de datos a través del guardado de un
DataFrame dependiendo de parámetros de entrada como DataFrame, nombre de la
tabla, engine y comportamiento en caso de que exista la tabla (if_exists).

In [10]:
#Importamos las funciones
from funciones import filtrar_por_fechas, generar_reporte, escribir_en_postgres#FernandoSanchez

# Filtrar datos por año 2005
ventas_2005 = filtrar_por_fechas(merged_df, 'orderDate', '2005-01-01', '2005-12-31')

# Top 10 clientes con mayores ventas brutas en dinero durante el año 2005
top_10_clientes_2005 = generar_reporte(ventas_2005, ['customerName'], [], ['venta', 'costo', 'ganancia'], 'sum')
top_10_clientes_2005 = top_10_clientes_2005.sort_values(by='venta', ascending=False).head(10)#FernandoSanchez

# Guardar en la tabla de Postgre llamada top_10_clientes_2005
escribir_en_postgres(top_10_clientes_2005, 'top_10_clientes_2005', engine, if_exists='replace')

# Top 10 de artículos más vendidos durante el año 2005 (considerando cantidad neta)
top_10_productos_2005 = generar_reporte(ventas_2005, ['productName'], [], ['venta', 'costo', 'ganancia'], 'sum')
top_10_productos_2005 = top_10_productos_2005.sort_values(by='venta', ascending=False).head(10)#FernandoSanchez

# Guardar en la tabla de Postgre llamada top_10_productos_2005
escribir_en_postgres(top_10_productos_2005, 'top_10_productos_2005', engine, if_exists='replace')

print("Top 10 Clientes 2005:")
print(top_10_clientes_2005)
print("\nTop 10 Productos 2005:")
print(top_10_productos_2005)

Top 10 Clientes 2005:
                                  costo   ganancia      venta
customerName
Euro+ Shopping Channel        169989.97  120028.55  290018.52
Mini Gifts Distributors Ltd.  115084.72   77397.01  192481.73
La Rochelle Gifts              55527.04   35620.07   91147.11
The Sharp Gifts Warehouse      50843.02   33141.87   83984.89
Down Under Souveniers, Inc     46389.52   28630.61   75020.13
Anna's Decorations, Ltd        35414.90   21517.40   56932.30
Salzburg Collectables          33536.26   18883.81   52420.07
Gifts4AllAges.com              33221.25   17585.60   50806.85
Corporate Gift Ideas Co.       28561.31   18220.35   46781.66
Oulu Toy Supplies, Inc.        27493.61   19276.91   46770.52

Top 10 Productos 2005:
                                         costo  ganancia     venta
productName
1992 Ferrari 360 Spider red           27031.30  25946.98  52978.28
2003 Harley-Davidson Eagle Drag Bike  19023.18  15832.94  34856.12
1952 Alpine Renault 1300              17152.92  16884.28  34037.20
1968 Ford Mustang                     17161.20  14538.31  31699.51
1956 Porsche 356A Coupe               25066.50   6365.64  31432.14
2002 Suzuki XREO                      15308.37  15125.72  30434.09
1969 Dodge Charger                    15974.56  13592.71  29567.27
1997 BMW R 1100 S                     16493.06  12254.63  28747.69
1917 Grand Touring Sedan              16386.30  11444.40  27830.70
1972 Alfa Romeo GTA                   18678.24   8547.60  27225.84